/* Remove resizeable textarea */
textarea {
    resize: none !important;
}

/* Remove Arrows in input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
}

/* Remove a href outline */
a {
    text-decoration: none;
}

/* Fix bootstrap floating label + textarea */
.fix-floating-label .form-floating {
    position: relative;
}

.fix-floating-label .form-floating:before {
    content: "";
    position: absolute;
    top: 1px;
    /* border-width (default by BS) */
    left: 1px;
    /* border-width (default by BS) */
    width: calc(100% - 14px);
    /* to show scrollbar */
    height: 28px;
    border-radius: 4px;
    width: 96%;
    /* (default by BS) */
    background-color: #ffffff;
}

.fix-floating-label .form-floating textarea.form-control {
    padding-top: 32px;
    /* height of pseudo element */
}
