*{margin: 0;padding: 0;
box-sizing: border-box;}

.navbar{
    width: 100%;
    background-color: #4E944F !important;
}

.jumbotron{
    background-image:url("../images/people-holding-rubber-heart\ 1.png") !important ;
    background-size: cover !important;
    height: 500px;
}
.section{
    width: 100%;
}
.navbar-brand{
    color: white !important;
}

.nav-link{
    color: white !important;
}

#twobtn:hover{
    background-color: rgb(200, 200, 200) !important;
}

#twobtn{
    background-color: white;
}

.seperater{
    text-align: center;
    color: white;
    background-color: #4E944F ;
    height: 55px;
}

main{
    margin-left: 0%;
    
}
.container{
    border: 1px solid yellow;
    width: 900px !important;
}

.cat1, .cat2, .cat3, .cat4{
    border: 1px solid black;
    border-radius: 17px;
    height: 150px;
    margin-bottom: 20px;
    text-align: center;
}

.cat1,.cat2,.cat3{
    margin-right: 60px;
    width: 200px;
}

.middle{
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

.phpnumber{
    border: 1px solid black;
    border-radius: 15px;
    padding: 50px 100px 50px 100px;
}
